.appBar {
  background-color: transparent;
  color: #637381;

  box-shadow: none;
  height: 88px;
  min-height: 64px;
}

.toolBar {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 10px auto;
  border-bottom: 1px solid #f2f2f2;
}

@media screen and (max-width: 892px) {
  .toolBar {
    width: 100%;
  }
}
