
.toolBar {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 10px auto;
  border-bottom: 1px solid #f2f2f2;
}

@media screen and (max-width: 892px) {
  .toolBar {
    width: 100%;
  }
}
