body {
  background-color: #fff;
}

.auth-container {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  height: calc(100vh - 88px) !important;
}
.auth-container-main {
  width: 45% !important;
  background-color: #fff !important;
  height: 50vh !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  border: 4px dashed #f2f2f2 !important;
  border-radius: 8px !important;
}

.k{
  height: 60vh !important;
}

@media screen and (max-width: 992px) {
  .auth-container-main {
    width: 55% !important;
  }
}

@media screen and (max-width: 772px) {
  .auth-container-main {
    width: 75% !important; 
  }
}

@media screen and (max-width: 576px) {
  .auth-container-main {
    width: 95% !important;
  }
  p {
    font-size: 12px;
  }
}
