@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,600;1,400;1,500;1,600&family=Caprasimo&display=swap");

* {
  margin: 0;
  padding: 0;
}
/* font-family: 'Barlow', sans-serif;
font-family: 'Caprasimo', cursive; */